Nama    : SALSABILA ZAHIRAH PRANIDA

No. ID  : 152236035100-282

### Python 1

Date: 18th of May 2022

Outcome:
- Expression, variables, function, conditionals
- String, List, Dictionary
- Loop, While

##### data type

In [2]:
a = 10 # integer
print(a, "bertipe", type(a))

10 bertipe <class 'int'>

In [3]:
nama = 'Toni' # string
print(nama, "bertipe", type(nama))

Toni bertipe <class 'str'>

In [4]:
hasil = False # boolean
print(hasil, "bertipe", type(hasil))

False bertipe <class 'bool'>

In [5]:
b = 25.987 # float
print(b , "bertipe", type(b))

25.987 bertipe <class 'float'>

In [6]:
c = complex(2+3j) # complex
print(c , "bertipe", type(c))

(2+3j) bertipe <class 'complex'>

In [7]:
a = 9 # integer
a = 'Tono' # string
print(a, "bertipe", type(a))

Tono bertipe <class 'str'>

#### operation

In [8]:
print(3+3) # addition

6

In [9]:
print(3*3) # multiply

9

In [12]:
print(3**3) # exponent

27

In [11]:
print(9/3) # division

3.0

In [13]:
print(25%7) # modulus [%] -> sisa pembagian

4

In [14]:
print(max(2,3,4)) # maximum number
print(min(2,3,4)) # minumum number
print(round(5.49)) # floor float

4
2
5

In [15]:
print(9**(1/2)) # 9 exponent to 0.5

3.0

#### string

In [18]:
# simple print string
print("Hello World")
print("Welcome to Python")

Hello World
Welcome to Python

In [20]:
# long string
kutipantiga = """this is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up."""
print(kutipantiga)

this is a long string that is made up of several lines and non-printable characters such as TAB ( 	 ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [
 ], or just a NEWLINE within the variable assignment will also show up.

In [21]:
nama = "Toni" 
umur = 120
print("Nama aku " + nama)
print("Umur saya " + str(umur))
print(nama + " adalah namaku.")
print(str(umur) + " adalah umurku.")
print('nama ', nama, 'umur ', umur)

Nama aku Toni
Umur saya 120
Toni adalah namaku.
120 adalah umurku.
nama  Toni umur  120

In [22]:
a = 20
b = 90
print (str(a) + str(b))

2090

In [23]:
nama = "Toni"
umur = 120
print("Nama aku " + nama)
print("Umur saya " + str(umur))
nama = "Bella" # => variable name has a new value
print(nama + " adalah namaku.")
print(nama + " namaku.")

Nama aku Toni
Umur saya 120
Bella adalah namaku.
Bella namaku.

In [24]:
name = "Bella"
#       01234
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.isupper())
print(name.islower())
print(len(name))
print(name[1:4])
#index selalu mulai dari 0
print(name.index("l"))

BELLA
bella
Bella
False
False
5
ell
2

#### function

In [26]:
def perkenalan (nama, asal): # (xxx) -> parameter
  print(f"Perkenalkan saya {nama} dari {asal}")

perkenalan("Alvin", "Jawa Timur")

Perkenalkan saya Alvin dari Jawa Timur

In [27]:
def luasSegitiga (alas, tinggi):
    luas = (alas * tinggi)/2
    print("Luas segitiga =",luas)

luasSegitiga(3,6)

Luas segitiga = 9.0

#### if else

In [33]:
friends = ["A", "B", "C"]
print(friends)            #["A", "B", "C"]
print(friends[0])         #A; the first array
print(friends[-1])        #C; the last array
print(friends[1:])        #["B", "C"]; the 2nd array to last
print(friends[0:2])       #["A", "B"]; from the first array index to 2nd index

['A', 'B', 'C']
A
C
['B', 'C']
['A', 'B']

In [34]:
X = ["A", "B", "C"]
Y = [1, 2, 3]
X.extend(Y) # extend for add the array of X
print(X)

['A', 'B', 'C', 1, 2, 3]

In [35]:
X.append("D")   # append for add the array for X 
print(X)

['A', 'B', 'C', 1, 2, 3, 'D']

In [36]:
X.insert(1, "D") # insert for inserting an array to index 1
print(X)

['A', 'D', 'B', 'C', 1, 2, 3, 'D']

In [37]:
X.clear() # celar for erase all the array value
print(X)

[]

In [62]:
X = ["A", "B", "C"]
Y = [1, 2, 3]
X.pop() # pop for specify of the index which want to remove, default -1; the last index
print(X)

['A', 'B']

In [67]:
X = ["A", "B", "C"]
x = X.index("C") # index for search the given element
print(x)

2

In [69]:
X = ["A", "B", 'B', "C"]
x = X.count("B") # count for counting the specific value     
print(x)

2

In [71]:
X = ["C", "A", "B", 'D', 'E']
X.sort() # to sorting for a-z, 1-10
print(X)

['A', 'B', 'C', 'D', 'E']

In [73]:
X = ["C", "A", "B", 'D', 'E']
X.reverse() # to reverses the elements of the list
print(X)

['E', 'D', 'B', 'A', 'C']

In [74]:
X = ["C", "A", "B", 'D', 'E']
X2 = X.copy() # to copy the elements of the list
print(X2)

['C', 'A', 'B', 'D', 'E']

#### dictionary

In [75]:
# define dictionary
id_divisi = {
    71 : 'IT',
    82 : 'Finance',
    91 : 'Data'
}

# accessing dictionary data with key
print("Divisi dengan kode 71:", id_divisi[71])

Divisi dengan kode 71: IT

In [76]:
days_in_a_week = {
        "Mon": "Monday",
        "Tue": "Tuesday",
        "Wed": "Wednesday",
        "Thu": "Thursday",
        "Fri": "Friday",
        "Sat": "Saturday",
        "Sun": "Sunday"
    }
days_in_a_week["Mon"]

'Monday'

#### for loop

In [77]:
#for loops
angka = [1,2,3,4,5]
for x in angka:
    print(x)

1
2
3
4
5

In [78]:
#for loops
buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
    print ("Saya suka makan", makanan)

Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk

In [80]:
#while loops
count = 0
while (count < 4):
    print ("The count is: ", count)
    count = count + 1

print ("Good bye!")

The count is:  0
The count is:  1
The count is:  2
The count is:  3
Good bye!

In [82]:
#Nested Loops
i = 2
while(i < 50):
    j = 2
    while(j <= (i/j)):
        if not(i%j): break
        j = j + 1
    if (j > i/j) : print(i, " is prime")
    i = i + 1

print("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
Good bye!

#### exercise

In [32]:
# Excercise
# Buatlah sebuah fungsi untuk menghitung volume balok 
# Valume balok = length x width x height
def volumeBalok(length, width, height):
  #rumus
  Volume = length * width * height
  #cetak hasil
  print('volume of the cubic is: ', Volume)

#panggil fungsi volume balok
volumeBalok(2, 3, 4)

volume of the cubic is:  24

In [97]:
# Buat program untuk menghitung jumlah seluruh angka ganjil dalam suatu list
# Input: list berisi angka-angka
# Output: jumlah seluruh angka ganjil 

def odd_number(odd_input):
    odd_list = odd_input.split() # splitting input of string variable
    # print(odd_list) # checking list of odd_list
    length = 0
    for odd in odd_list: # looping for odd array
        odd = int(odd) # changing character for sum
        if odd % 2 != 0: # if statements to check the odd number in list
            length += odd # addition to knowing the total of odd
    print('Sum of odd: ', length)

odd_input = input('odd number separated by space') # input
odd_number(odd_input)

Sum of odd:  25

In [147]:
# Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

#    * [1]
#   *** [3]
#  *****  [5] contoh output untuk n = 5
# ******* [7]
#********* [9]

def pyramid(pyramid_input):
    prime = 0 # prime number of stars

    for height in range(1, pyramid_input + 1): # height of the pyramids
        
        for pyramid in range(1, (pyramid_input - height) + 1): # making pyramids
            print(end ='  ')

        while prime != (2 * height - 1): # for the prime stars
            print('* ', end = '')
            prime += 1 # next prime
        prime = 0 # to stop

        print('\r')

pyramid_input = int(input('how tall the star pyramid is?')) # input
pyramid(pyramid_input)

    *
  * * *
* * * * *

### Python 2

Date: 19th of May 2022

Outcome:
- Class and Object, OOP, Methods
- Writing the script
- Quiz

#### class

In [1]:
# making class
class apel(): 
	def __init__(self):
		super().__init__()
		print("apel adalah buah")
	def apaIni(self):
		print("apel")
	def warna(self):
		print("warna merah")

A = apel()
A.apaIni()
A.warna()
A.__init__()

apel adalah buah
apel
warna merah
apel adalah buah

In [2]:
class komputer() :
  def __init__(self):
    self.__maxprice = 900
    print(self.__maxprice)
  def sell(self,price):
    self.__maxprice = price
    print(self.__maxprice)
    
c = komputer()
c.sell(1000)
print(c)

900
1000
<__main__.komputer object at 0x7fae10527820>

In [3]:
class beo :
	def terbang(self):
		print("beo terbang")
	def warna (self):
		print("beo merah")

class merpati :
	def terbang(self):
		print("merpati terbang")
	def warna (self):
		print("merpati putih")

def terbang(burung):
  burung.terbang()
  burung.warna()

Beo=beo()
Merpati = merpati()

terbang(Beo)
terbang(Merpati)

beo terbang
beo merah
merpati terbang
merpati putih

In [4]:
class Point():
  def __init__(self, x= 0,y=0):
    self.x = x
    self.y = y
    hasil  = x+y
    print(hasil)

p1 = Point(1,2)
p2 = Point(2, 3)

3
5

In [5]:
listku = [1,2,3,4,5]
myIter = iter(listku)
next(myIter)
next(myIter)

2

In [6]:
class lemari() :
  def __init__(self, barang="baju"):
   self.set_barang(barang)
  def get_barang(self):
   return self._barang
  def set_barang(self, barang):
   self._barang = barang
   print(barang) 
    
d = lemari()
d.get_barang()
d.set_barang("pita")

baju
pita

#### regex

Regex adalah singkatan dari Regular Expresion.

Regex merupakan sebuah teks (string) yang mendefinisikan sebuah pola pencarian sehingga dapat membantu kita untuk melakukan matching (pencocokan), locate (pencarian), dan manipulasi teks.

In [7]:
import re

string = 'haii 15. Nomor kamu 34. NOmor dia 12544162'
pattern = '\d+' # \d is a digit, \d+ means 1 or more digits

result = re.findall(pattern, string) # find expression of 1 or more digits
print(result)

['15', '34', '12544162']

In [8]:
string = 'haii 15. Nomor kamu 34'
pattern = '\d+'

result = re.split(pattern, string) # skip the pattern of digits
print(result)

['haii ', '. Nomor kamu ', '']

In [9]:
def coba(n):
  print(n)
  return lambda a : a * n

test1 = coba(2)
print(test1(3))

test2 = coba(3)
print(test2(6))

2
6
3
18

In [12]:
#Mencari Teks tanpa regex
def is_phone_number(text):
    if len(text) != 11:
        return False
    for i in range(0, 3):
      if not text[i].isdecimal():
        return False
      if text[3] != ' ':
        return False
    for i in range(4, 11):
        if not text[i].isdecimal():
            return False
    return True

print('021 8229311 adalah nomor telepon:', is_phone_number('021 8229311'))
print('Hello Hello adalah nomor telepon:', is_phone_number('Hello Hello'))

021 8229311 adalah nomor telepon: True
Hello Hello adalah nomor telepon: False

In [13]:
#Mencari Teks dengan regex
pesan = 'Panggil saya di nomor 061 7981011 besok. Kalau sore bisa hubungi kantor saya di 061 7939999.'

for i in range(len(pesan)):
    text = pesan[ i : i + 11]
    if is_phone_number(text):
        print("Nomor telepon ditemukan:", text)

Nomor telepon ditemukan: 061 7981011
Nomor telepon ditemukan: 061 7939999

In [18]:
#Membuat Objek Regex
import re
no_telp_regex = re.compile(r'(\d\d\d) (\d\d\d\d\d\d\d)')
mo = no_telp_regex.search('Nomor telepon saya 021 8273467.')
print(mo.group())
print(mo.group(1))
print(mo.group(2))

021 8273467
021
8273467

In [19]:
mo.groups()
kode_area, no_telp = mo.groups()
print(kode_area)
print(no_telp)

021
8273467

### exercise

In [20]:
def tambah(x, y):
    return x + y

def pengurangan(x, y):
    return x - y

def perkalian(x, y):
    return x * y

def bagi(x, y):
    return x / y


print("Pilihlah nomer dibawah ini.")
print("1.Tambah")
print("2.Kurang")
print("3.Kali")
print("4.Pembagian")

while True:
    # take input from the user
    choice = input("Masukkan pilihan anda(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Masukkan angka petama : "))
        num2 = float(input("Masukkan angka kedua : "))

        if choice == '1':
            print(num1, "+", num2, "=", tambah(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", pengurangan(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", perkalian(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", bagi(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Masih ingin melanjutkan? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

Pilihlah nomer dibawah ini.
1.Tambah
2.Kurang
3.Kali
4.Pembagian
8.0 - 9.0 = -1.0